@{
    ViewData["Title"] = "Home Page";
}
@model List<Bowler>

@*Table to display bowler records*@
<div class="container">
    <div class="col-2">
        <vc:filter></vc:filter>
    </div>
    <ul>
        @foreach (var b in Model)
        {
            <li>@b.BowlerID</li>
            <li>@b.BowlerFirstName</li>
            <li>@b.BowlerMiddleInit</li>
            <li>@b.BowlerLastName</li>
            <li>@b.BowlerAddress</li>
            <li>@b.BowlerCity</li>
            <li>@b.BowlerState</li>
            <li>@b.BowlerZip</li>
            <li>@b.BowlerPhoneNumber</li>
        }
    </ul>
</div>